*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 167, 157);
}
body > .h1-accueil {
    margin: 50px;
    text-align: center;
}

body > ul {
    list-style: none;
}

body > ul > li {
    background: rgb(255, 228, 225);
    width: 250px;
    margin: 5px;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}

body > ul a {
    text-decoration: none;
    color: black;
}