/* *, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}



/**********************************/
/* Centrer avec position absolute */
/**********************************/

/* .bloc {
    width: 200px;
    height: 200px;
    background: midnightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
























/****************************/
/* Centrer avec margin auto */
/****************************/

/* .bloc {
    width: 200px;
    height: 200px;
    background: midnightblue;
    margin: 0 auto;
} */























/************************/
/* Centrer avec flexbox */
/************************/

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .bloc {
    width: 200px;
    height: 200px;
    background: midnightblue;
} */




















/*********************/
/* Centrer avec grid */
/*********************/

/* body {
    height: 100vh;
    display: grid;
} */

/* .bloc {
    width: 200px;
    height: 200px;
    background: midnightblue;
    align-self: center;
    justify-self: center;
} */

/* h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
} */












/*******************/
/* Avec les textes */
/*******************/

/* Texte align center */

/* h1 {
    text-align: center;
    background: salmon;
} */

/* Avec flexbox */

/* h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: salmon;
    height: 250px;
} */

/* Avec line height */

/* h1 {
    text-align: center;
    background: salmon;
    height: 250px;
    line-height: 250px;
} */