.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}

/** Les background linéaires sont considérés comme des images **/

.box {
    width: 250px;
    height: 250px;
    background: orange;
    margin: 100px auto 0 auto;
    background-image: linear-gradient(salmon, pink, lightgreen);
    background-image: linear-gradient(to right, salmon, lightgreen); /* va aller vers la droite */
    background-image: linear-gradient(to bottom right, salmon, lightgreen); /* va aller de d'en vers en bas à droite */
    background-image: linear-gradient(60deg, salmon, lightgreen); /* orienté de 60deg */
    background-image: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%); /* faire le drapeau de la France */
    background-image: radial-gradient(lightgreen, pink); 
    background-image: radial-gradient(lightgreen 75%, pink);
}