.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}


/* 🔥 🚀 */

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
}

label {
    background: #a5d6a7;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    /* visibility: hidden;
    position: absolute; */
    display: none;
}

.change-icon::after {
    content: '🔥';
    font-size: 100px;
}

/** Elements ayant le même parents et adjacents
et que le premier soit au dessus de l'autre **/

/** Exemple d'un menu : https://codepen.io/Ziratsu/pen/ZVVOGb **/

#toggle:checked ~ .change-icon::after {
    content: '🚀';
}