.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}

/*
Pour voir si la source de l'image change bien avec la largeur de l'écran :
Inspecter sur l'image puis dans la console -> $0.currentSrc
Refresh la page si cela n'a pas été pris en compte.
*/

img {
    width: 100%;
    height: auto;
}
