.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}

/** Propriétés raccourcis MDN : https://developer.mozilla.org/fr/docs/Web/CSS/Shorthand_properties **/

/** Padding / Margin **/
/* Si 4 valeurs : Haut / Droite / Bas / Gauche */
/* Si 3 valeurs : Haut / Horizontale / Bas */
/* Si 2 valeurs : Verticale / Horizontale */
/* Si 1 valeur : Verticale & Horizontale */

/** Background **/
/**
background-clip,
background-color,
background-image,
background-origin,
background-repeat,
background-position,
background-size,
background-attachment.
**/

/* .bloc {
    width: 600px;
    height: 400px;
    background-color: red;
    background: #000 url("./img/image01.jpg") no-repeat center / cover;
} */

/** Font **/
/** https://fonts.google.com/specimen/Roboto?query=Roboto **/
/*
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
*/
/*
font-style,
font-weight,
font-size,
line-height,
font-family.
*/

h1 {
    font-style: italic;
    font-weight: 100;
    font-size: 50px;
    line-height: 2;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */

    font: italic 100 50px / 2 Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/** Animation **/
/*
animation-name,
animation-duration,
animation-timing-function,
animation-delay,
animation-iteration-count,
animation-direction,
animation-fill-mode,
animation-play-state.
*/
.bloc {
    width: 200px;
    height: 200px;
    background: violet;
    /* animation: tourne 0.5s linear 0s infinite normal; */
    transition: background 1s ease-in-out 0.2s;
}

.bloc:hover {
    background: lightgreen;
}

/** Transition **/
/*
transition-property,
transition-duration,
transition-timing-function,
transition-delay.
*/

@keyframes tourne {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

