.btnRetour {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: salmon;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 0 0 0 salmon;
    animation: pulse 1.3s infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0.01);
    }
}

body {
    margin: 0;
    /* filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.3)); */
}

/** Clip path maker - Clippy : https://bennettfeely.com/clippy/ **/

.accueil {
    background: url("./img/image01.jpg") no-repeat center / cover;
    width: 100%;
    height: 100vh;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

h1 {
    margin: 0;
    text-align: center;
    color: #333;
    padding-top: 250px;
    font-size: 70px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
